{% extends "base.html" %}

{% block title %}Delete Transaction | TS Manager {% endblock %}

{% block content %}
    <h2>Member Form</h2>

    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            
                <li>{{message}}</li>
            
            {% endfor %}

            {% else %}
            
                <li> No message found <li>
        {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.tid.label }}<br>
            {{ form.tid() }}<br>
            {% for error in form.tid.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

        <h1>List of Members</h1>

        <h1>Recent Transaction</h1>

    {% if transactions %}

        {% for transaction in transactions %}
        
            <li>{{transaction}}</li>
        
        {% endfor %}
    
    {% endif %}

{% endblock %}